{
    "pi_host": "192.168.178.47",
    "pi_user": "alex",
    "project_dir": "home/alex/MakerPi_GroundControl",
    "mqtt_broker": "localhost",
    "sumup_api_key": "sup_sk_YOUR_KEY_HERE",
    "sumup_merchant_code": "YOUR_MERCHANT_CODE",
    "sumup_reader_id": "YOUR_READER_ID",
    "paypal_me_url": "https://paypal.me/YourUsername"
}
